MASTER_HOST_IP=192.168.2.10
MASTER_HOST_FQDN=192.168.2.10
MASTER_HOST_GW=192.168.2.254
FLOATING_IP=172.16.255.1
WORKER_GW=192.168.2.1
WORKER_IP1=192.168.2.20
WORKER_IP2=192.168.2.21
WORKER_HOSTS=(192.168.2.20 192.168.2.21)
K8S_VER=v1.7.9_coreos.0
FLANNEL_VER=v0.8.0
K8S_SERVICE_IP=10.3.0.1
DNSSERVER=8.8.8.8
CLUSTER_DNS=10.3.0.10
CLOUD_PROVIDER=
SERVICE_CLUSTER_IP_RANGE=10.3.0.0/24
ETCD_ENDPOINTS_URLS=https://192.168.2.10:2379,https://192.168.2.20:2379,https://192.168.2.21:2379
USER_CORE_PASSWORD=s@iling
USER_CORE_KEY1="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDlVWpAjJGhyyYnJxmGf6UHSs7mr4he47uovH6noiVyk/qUgreNQH5F/WVGPcRGqtE8Mc1aonDtWSjxxRlT62x3M9rkP4px48dTigUUFPGhhDTeEjyTqKbzedo/17T0CHVjuQkXl9+m/I7AZPmPBaJEb4knkr++B6tnZa65MjA98w=="
USER_CORE_KEY2="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAAgQDlVWpAjJGhyyYnJxmGf6UHSs7mr4he47uovH6noiVyk/qUgreNQH5F/WVGPcRGqtE8Mc1aonDtWSjxxRlT62x3M9rkP4px48dTigUUFPGhhDTeEjyTqKbzedo/17T0CHVjuQkXl9+m/I7AZPmPBaJEb4knkr++B6tnZa65MjA98w=="
